body{
    margin: 0;
}
*{
    margin: 0%;
}
.nav-section .nav-bar{
    text-align: right;
    background-color: transparent;
}
ul{
    list-style: none;
}
.nav-item{
    display: inline-block;
    padding: 13px;
}
.nav-bar a{
    font-size: 0.9em;
    color: black;
}
.container-logo{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
}
form{
    text-align: center;
}
input[type="text"]
{
    width:90%;
    padding: auto;
    border: none;
}
input[type="text"]:active, input[type="text"]:focus
{
    box-shadow: none;
    outline: none;
}
#search-img{
    position:relative;
    top:5px;
    width: 10%;
}
.search-cont{
    border:1px solid rgb(206, 206, 206);
    
    border-radius: 100px;
    padding: 5px;
   display: flex;
   flex-direction: row;
   flex-wrap: nowrap;
   justify-content: center;
}

.search-cont:hover{
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 7px 0px;
}
.search-bar{
    width: 40%;
    margin: 10px auto;
    padding: 20px;
    border: none;
}
.search-btns{
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 30px;
}
.search-btns .btn{
    background-color: whitesmoke;
    margin: 5px;
}
.search-btns .btn:hover{
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.searchbar-adj{
    display: inline-block;
}
#searchbar-button{
    background-color: white;
    border: none;
}
a{
    text-decoration: none;
}
.footer{
    position: absolute;
    bottom:5px;
    width: 100%;
    background-color: whitesmoke;
}
hr{
    margin: 0;
}
#location{
    padding: 1%;
    border-bottom:1px solid rgb(206, 206, 206)
}
